*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.clock{
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 50%;
    position: relative;
}

.number{
    transform: rotate(calc(30deg * var(--n)));
    position: absolute;
    text-align: center;
    inset: 20px;
    font-size: 40px;
}

.center-dot{
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: black;
    border-radius: 50%
}

.hour-hand,.minute-hand,.second-hand{
    --rotate:0;
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    transform: translate(-50%) rotate(calc(var(--rotate)* 1deg));
}


.hour-hand{
    width: 12px;
    height: 130px;
    background-color: black;
    border-radius: 20px;
}


.minute-hand{
    width:12px;
    height: 190px;
    background-color: blue;border-radius: 20px;

}


.second-hand{
    width: 6px;
    height: 210px;
    background-color:red;
    border-radius: 20px;
}